*,
::before,
::after {
   margin: 0;
  padding: 0;
  resize: vertical; 
} 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;

}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.card-about {
  position: relative; 
  height: 75vh;
  width: 175vh;
  background: transparent;
  overflow: hidden;
  border: 0.5em solid #DEABC2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1em;
  margin-left: 12vh;
}
.display-about{
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.content-about{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    gap:1em;

}
.name{
    font-size: 10vh;
    /* padding-bottom: 20% ; */
}
.headshot{
    width: 20%;
    height:20%;
}
.icons{    
    display: flex;
    flex-direction: row;
    padding-bottom: 0;    
}

.icon{
    height: 9vh;
    padding: 0 5vh;
    margin: 0; 
    transition: scale 400ms ease-in-out;
}

.freepik{
  margin-left: 12vh;
  font-size: 3vh;
}
.resume{
    width: 13vh;
    height: 10vh;
}
.icon:hover{
  scale: 1.25;
}
.bio >p {
  font-size: 3vh;
  text-align: center;
  line-height: 5vh;
  margin: 3vh;
}

span {
  position: absolute;
  border-radius: 100vmax;
  /* width: 75%; */
}

.top-about {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    transparent 50%,
    #7a5c69,
    #DEABC2
  );
}

.bottom-about {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(
    90deg,
    #DEABC2,
    #7a5c69,
    transparent 50%
  );
}

.right-about {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    transparent 30%,
    #7a5c69,
    #DEABC2
  );
}

.left-about {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(
    180deg,
    #DEABC2,
    #7a5c69,
    transparent 70%
  );
}

.top-about {
  animation: animateTop 3s ease-in-out infinite;
}

.bottom-about {
  animation: animateBottom 3s ease-in-out infinite;
}

.right-about {
  animation: animateRight 3s ease-in-out infinite;
}

.left-about {
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

@media screen and (max-width: 812px) {
  .card{
    width: 90vh;
    height: 50vh;
  }
  .name-home{
    font-size: 10vh;
  }
  .welcome{
    font-size: 7vh;
  }
}

@media screen and (max-width: 375px) {
  .card-about{
    width: 40vh;
    height: 75vh;
    margin-left: 1vh;
    /* padding-right: 3vh; */
  }
  .name{
    font-size: 3vh;
  }
  .bio >p {
    font-size: 2vh;
    text-align: center;
    line-height: 3vh;
    /* margin: 10vh; */
  }
  .freepik{
    font-size: 2vh;
    margin-left: 1vh;
  }
  .icon{
    height: 3vh;
    padding: 0 1vh;
  }
  .headshot{
    width: 0%;
    height:0%;
}
.resume{
  width: 5vh;
  height: 3.5vh;
}
}