:root {
  --gold: #030e69;
  --light-shadow: #0d2146;
  --dark-shadow: #010a19;
}
.homePage {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 60%;
}
.profilePic {
  display: flex;
  width: 35%;
  /* float: left; */
  /* margin-right: 0; */
}
.profile {
  width: 100%;
  /* height: 20%; */
  object-fit: cover;
  border-radius: 10px;
}

.welcomeText {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.name {
  font-size: 13vh;
}

.welcomeMessage {
  font-size: 11vh;
  /* margin-top: 1vh; */
  /* text-align: center; */
  color: #c4d9de;
}
.wrapper {
  /* background: radial-gradient(#272727, #1b1b1b); */
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
  /* height: 100vh; */
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #c4d9de;
  font-weight: 600;
  /* font-size: clamp( 3em, 18vw, 15rem); */
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #c4d9de;
  transform: scale(1);
}
.icons {
  gap: 50px;
  display: flex;
}
.aboutIcon {
  max-height: 70px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}


