.firstName,
.lastName {
  font-size: 200px;
  -webkit-text-stroke-width: 5px;
}
.firstName,
.lastName,
.welcomeMessage {
  -webkit-text-stroke-color: #4b423b;
}
.firstName {
  color: #388795;
}
.lastName {
  color: #6d6592;
}
.welcomeMessage {
  font-size: 100px;
  margin-top: 20px;
  text-align: center;
  color: #a16a83;
  -webkit-text-stroke-width: 3px;
}
