header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}

.activator {
  padding: 1em;
  border-radius: 5em 0 0 5em;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  &.active {
    background: #DEABC2;
  }
}

.icon {
  width: 100%;
  max-width: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background: transparent;
  border-radius: 5em 0 0 5em;
  padding: 0.5em;
  clip-path: ellipse(50% 50% at -50% 50%);

  ul {
    display: flex;

    li a {
      display: block;
      padding: 0.5em;
      margin: 0 0.5em;
      border-radius: 5em 0 0 5em;

      img {
        opacity: 0;
        transform: translateX(-10px);
      }
    }
  }
}
