@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@300&family=Ubuntu&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #4b423b;
  font-family: 'Ubuntu', 'Karla', 'Poppins';
}
